<widget id="A6004192714437" version="0.0.1">

    <name>云品库</name>

    <description>

        Example For APICloud.

    </description>

    <author email="developer@apicloud.com" href="http://www.apicloud.com">

        Developer

    </author>

    <content src="./script/app.json"/>

    <access origin="*"/>

    <preference name="pageBounce" value="false"/>

    <preference name="customRefreshHeader" value="UIPullRefresh"/>

    <preference name="appBackground" value="rgba(0,0,0,0.0)"/>

    <preference name="windowBackground" value="rgba(0,0,0,0.0)"/>

    <preference name="frameBackgroundColor" value="rgba(0,0,0,0.0)"/>

    <preference name="hScrollBarEnabled" value="false"/>

    <preference name="vScrollBarEnabled" value="false"/>

    <preference name="autoLaunch" value="true"/>

    <preference name="fullScreen" value="false"/>

    <preference name="autoUpdate" value="true"/>

    <preference name="smartUpdate" value="false"/>

    <preference name="debug" value="true"/>

    <preference name="statusBarAppearance" value="true"/>

    <permission name="readPhoneState"/>

    <permission name="camera"/>

    <permission name="record"/>

    <permission name="location"/>

    <permission name="fileSystem"/>

    <permission name="internet"/>

    <permission name="bootCompleted"/>

    <permission name="hardware"/>

</widget>


<feature name="wx">
   <param name="urlScheme" value="wxee55a2eff444dfe5"/>
   <param name="apiKey" value="wxee55a2eff444dfe5"/>
   <param name="apiSecret" value="de6fa157a98f5fc179b1df4f126df098"/>
 </feature>
